/*
 * Copyright (c) 2018 Peter Bigot Consulting, LLC
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/* Add UART2 support on particle_xenon via nRF52840 UARTE1 */
&uart1 {
	compatible = "nordic,nrf-uarte";
	current-speed = <115200>;
	status = "okay";
	tx-pin = <40>;
	rx-pin = <42>;
	rts-pin = <35>;
	cts-pin = <43>;
};

&i2c0 { /* feather I2C */
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
	sda-pin = <26>;
	scl-pin = <27>;

    vl53l0x@29 {
		compatible = "st,vl53l0x";
		reg = <0x29>;
		label = "VL53L0X";
	};
};

&i2c1 { /* feather I2C */
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
	sda-pin = <33>;
	scl-pin = <34>;

    vl53l0x@29 {
		compatible = "st,vl53l0x";
		reg = <0x29>;
		label = "VL53L0X2";
	};
};
